<section class="section advantages" id="advantages">
 <div class="advantages__container">
  <h2 class="section__title advantages__title">Преимущества работы с&nbsp;нами</h2>
  <ul class="advantages__list">
   <li class="advantages__item">
    <img src="/public/img/advantages.png" alt="">
    <span class="advantages__caption">Надежно</span>
    <p class="advantages__text">Мы&nbsp;предоставляем финансовые гарантии на&nbsp;50&nbsp;млн. рублей!</p>
   </li>
   <li class="advantages__item">
    <img src="/public/img/advantages.png" alt="">
    <span class="advantages__caption">Экономно</span>
    <p class="advantages__text">Наша компания предоставляет &laquo;комфортный&raquo; прайс на&nbsp;все услуги компании!</p>
   </li>
   <li class="advantages__item">
    <img src="/public/img/advantages.png" alt="">
    <span class="advantages__caption">Прозрачно</span>
    <p class="advantages__text">Контролируйте действия команды и&nbsp;статусы задач в&nbsp;удобном приложении</p>
   </li>
   <li class="advantages__item">
    <img src="/public/img/advantages.png" alt="">
    <span class="advantages__caption">Круглосуточно</span>
    <p class="advantages__text">Бесплатная поддержка наших специалистов по&nbsp;любому рабочему вопросу 24/7!</p>
   </li>
  </ul>
 </div>
</section>