<section class="contacts section">
 <div class="contacts-bg">
  <img src="/public/img/contacts.jpeg" alt="">
 </div>
 <div class="contacts__container">
  <h2 class="contacts__title section__title">Приведём ваши дела в&nbsp;порядок!</h2>
   <div class="contacts__box col-12 row">
    <p class="contacts__text contacts__descr col-6">Заполните форму и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;течении
      5&nbsp;минут и&nbsp;ответим на&nbsp;все интересующие вас вопросы!</p>
    <div class="contacts__content col-4">
     <p class="contacts__text contacts__hidden">Заполните форму и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;течении 5&nbsp;минут и&nbsp;ответим на&nbsp;все интересующие вас вопросы!</p>
     <ul class="contacts__info">
      <li class="contacts__item contacts__item-adress">
        {{!-- <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_5)">
            <path
              d="M17.937 36.012L16.8914 35.1158C15.4499 33.9088 2.86346 23.0387 2.86346 15.0874C2.86346 6.76259 9.61213 0.0139236 17.937 0.0139236C26.2618 0.0139236 33.0105 6.76259 33.0105 15.0874C33.0105 23.0387 20.4241 33.9088 18.9886 35.1217L17.937 36.012ZM17.937 3.27326C11.4153 3.28064 6.13025 8.56568 6.12287 15.0874C6.12287 20.0825 13.8665 28.0621 17.937 31.7144C22.0075 28.0607 29.7511 20.0765 29.7511 15.0874C29.7437 8.56568 24.4588 3.28071 17.937 3.27326Z"
              fill="white" />
            <path
              d="M17.937 21.0625C14.6371 21.0625 11.962 18.3874 11.962 15.0874C11.962 11.7875 14.6371 9.11243 17.937 9.11243C21.2369 9.11243 23.912 11.7875 23.912 15.0874C23.912 18.3874 21.237 21.0625 17.937 21.0625ZM17.937 12.0999C16.287 12.0999 14.9495 13.4374 14.9495 15.0874C14.9495 16.7373 16.287 18.0749 17.937 18.0749C19.5869 18.0749 20.9245 16.7373 20.9245 15.0874C20.9245 13.4374 19.587 12.0999 17.937 12.0999Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0_1_5">
              <rect width="36" height="36" fill="white" />
            </clipPath>
          </defs>
        </svg> --}}


        Алтайский край, г. Барнаул, пр. Калинина, 24А/1, офис 400
      </li>
      <li class="contacts__item contacts__item-phone">
       <a href="tel:+73852202432">+7 (3852) 202-432</a>
       <a href="tel:+79039906248">+7 (903) 990-6248</a>
       </li>
      <li class="contacts__item contacts__item-email">
        {{!-- <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_3)">
            <path
              d="M18 -7.62939e-06C15.1566 0.00029688 12.3537 0.674226 9.82088 1.96657C7.28811 3.25892 5.09753 5.13291 3.4286 7.43504C1.75967 9.73716 0.659876 12.4019 0.219305 15.211C-0.221266 18.0201 0.00992408 20.8936 0.893937 23.5961C1.77795 26.2987 3.28963 28.7533 5.30515 30.759C7.32067 32.7647 9.78268 34.2643 12.4895 35.1351C15.1963 36.0059 18.0709 36.2231 20.8778 35.7688C23.6847 35.3145 26.3441 34.2017 28.638 32.5215L26.862 30.1035C24.1417 32.0955 20.8296 33.1128 17.4602 32.9915C14.0907 32.8702 10.8604 31.6172 8.29047 29.4347C5.7205 27.2523 3.96076 24.2676 3.29517 20.9623C2.62959 17.6571 3.09698 14.2239 4.62194 11.2169C6.1469 8.2098 8.64048 5.8042 11.7003 4.3882C14.7602 2.97219 18.2079 2.62837 21.4872 3.4122C24.7664 4.19603 27.686 6.0618 29.7748 8.70847C31.8635 11.3551 32.9997 14.6284 33 18V21C33 21.7956 32.6839 22.5587 32.1213 23.1213C31.5587 23.6839 30.7956 24 30 24C29.2043 24 28.4413 23.6839 27.8787 23.1213C27.3161 22.5587 27 21.7956 27 21V18C27.0073 15.8824 26.2703 13.8296 24.9177 12.2003C23.5652 10.5709 21.6831 9.46863 19.6004 9.08602C17.5176 8.70341 15.3667 9.06481 13.5233 10.1071C11.68 11.1493 10.2615 12.8061 9.51572 14.7881C8.76992 16.77 8.74425 18.9509 9.44318 20.9498C10.1421 22.9487 11.5212 24.6385 13.3395 25.7239C15.1578 26.8092 17.2996 27.2212 19.3908 26.8877C21.482 26.5542 23.3895 25.4965 24.78 23.8995C25.4196 25.0645 26.4292 25.9832 27.6492 26.5105C28.8693 27.0377 30.2302 27.1434 31.517 26.8108C32.8038 26.4783 33.9431 25.7265 34.755 24.6742C35.5668 23.6219 36.0049 22.3291 36 21V18C35.9948 13.2277 34.0968 8.65231 30.7222 5.27777C27.3477 1.90323 22.7723 0.00515399 18 -7.62939e-06ZM18 24C16.8133 24 15.6533 23.6481 14.6666 22.9888C13.6799 22.3295 12.9108 21.3925 12.4567 20.2961C12.0026 19.1997 11.8838 17.9933 12.1153 16.8295C12.3468 15.6656 12.9182 14.5965 13.7574 13.7574C14.5965 12.9182 15.6656 12.3468 16.8295 12.1153C17.9933 11.8838 19.1997 12.0026 20.2961 12.4567C21.3925 12.9108 22.3295 13.6799 22.9888 14.6666C23.6481 15.6533 24 16.8133 24 18C24 19.5913 23.3679 21.1174 22.2426 22.2426C21.1174 23.3679 19.5913 24 18 24Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0_1_3">
              <rect width="36" height="36" fill="white" />
            </clipPath>
          </defs>
        </svg> --}}

       <a href="mailto:INFO@AFIBS.RU"> INFO@AFIBS.RU</a>
        </li>
     </ul>
    </div>
    <div class="col-1"></div>
    <div class="col-6 contacts-form">
     <form action="/local/ajax/join.php" method="post" class="js-form contacts__form">
      <h3 class="contacts__caption">Оставить заявку</h3>
      <div class="contacts__wrapper">
     
       <div class="contacts__input wrapper__name">
        <input name="user_name" class="contacts__name" type="text" id="contacts-name" data-type="text" placeholder=" ">
        <label class="contacts__label" for="">ФИО</label>
        <div class="validate__form-error validate__form-error--name js-error js-error-name">
         <span>Перепроверьте корректность имени</span>
        </div>
       </div>
     
       <div class="contacts__input wrapper__phone">
        <input data-mask="phone" name="user_phone" class="contacts__tel" data-type="phone" type="text" id="contacts-phone"
         inputmode="text" placeholder=" ">
        <label class="contacts__label" for="">Телефон</label>
        <div class="validate__form-error validate__form-error--phone js-error js-error-phone">
         <span>Заполните телефон, мы позвоним на него</span>
        </div>
       </div>
     
       <div class="contacts__input wrapper__email">
        <input data-mask="email" name="user_email" class="contacts__tel" data-type="email" type="text" id="contacts-email"
         inputmode="text" placeholder=" ">
        <label class="contacts__label" for="">Почта</label>
        <div class="validate__form-error validate__form-error--email js-error js-error-email">
         <span>Перепроверьте корректность email</span>
        </div>
       </div>
     
      </div>
      <div class="contacts__btns">
       <button class="js-form-submit btn btn-reset" type="submit">Отправить</button>
       <p>Нажимая «Отправить», вы&nbsp;даете согласие на&nbsp;обработку своих <a href="#">персональных
         данных</a>
       </p>
      </div>
     
     </form>
    </div>
    <div class="col-1"></div>
   </div>
 </div>
</section>