<footer class="footer" id="footer" data-section="footer">
  <div class="footer__container">
    <div class="footer__policy"> 
      <span>&copy;АФиБС, 2024</span>
      <a href="/" target="_blank">Политика обработки персональных данных</a>
    </div>
    <span class="footer__country">
      Сделано в <a href="https://studio.country/" target="_blank" class="country">Country</a>
    </span>
  </div>
</footer>
<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4 12.8248L12 5L20 12.8248" stroke="white" stroke-width="2.21898" />
    <path d="M4 18.7223L12 10.8975L20 18.7223" stroke="white" stroke-width="2.21898" />
  </svg>
</a>
