<section class="section help">
 <div class="help__container row col-12">
  <div class="col-1"></div>
  <div class="help__wrapper col-10">
     <img class="help__image" src="/public/img/help-image.png" alt="">
     <div class="help__box">
      <h3 class="help__title">Нужна срочная помощь?</h3>
      <p class="help__descr">
       Помимо долгосрочных ведений компаний, мы&nbsp;предоставляем разовую помощь наших экспертов! Если вы&nbsp;не&nbsp;успеваете сдать отчетность или быстро привести дела в&nbsp;порядок, то&nbsp;мы&nbsp;поможем! Так&nbsp;же проконсультируем по&nbsp;сложным юридическим вопросам!
      </p>
      <a data-goto=".contacts"  class="help__btn btn btn-reset" href="">Заказать звонок</a>
     </div>
  </div>
  <div class="col-1"></div>
 </div>
</section>