<section class="hero" id="hero" data-section="hero">
  <div class="hero__bg">
    <img src="/public/img/hero-bg.jpeg" alt="">
  </div>
  <div class="hero__container">
    <div class="hero-label">Для любого бизнеса</div>
    <h1 class="hero__title">Позаботимся о&nbsp;вашей <span class="accent">бухгалтерии</span></h1>
    <p class="hero__subtitle">Избавим от&nbsp;проблем с&nbsp;бухгалтерией, общения с&nbsp;банками и&nbsp;налоговой службой. Делаем всё для более комфортного ведения ваших дел!</p>
    <a data-goto=".tarifs" href="/" class="hero__btn btn btn-reset btn-stroke">Выбрать услугу</a>
  </div>
</section>

