<section class="outsourcing section" id="outsourcing">
 <div class="outsourcing__container">
  <h2 class="section__title">Аутсорсинг бухгалтерских услуг</h2>
  <div class="outsourcing__box col-12 row">
   <div class="outsourcing__content col-6">
    <div class="outsourcing__wrap">
     <span>Упрощаем ведение дел</span>
     <ul class="outsourcing__list">
      <li class="outsourcing__item item">ведём бухгалтерию и&nbsp;налоговый учёт;</li>
      <li class="outsourcing__item item">делаем аудит первичных документов;</li>
      <li class="outsourcing__item item">помогаем в&nbsp;юридических и&nbsp;бухгалтерских вопросах;</li>
      <li class="outsourcing__item item">готовим документы;</li>
      <li class="outsourcing__item item">безопасно снижаем налоги;</li>
      <li class="outsourcing__item item">сдаём годовую и&nbsp;квартальную отчётность;</li>
      <li class="outsourcing__item item">проверяем контрагентов и&nbsp;защищаем интересы в&nbsp;суде;</li>
      <li class="outsourcing__item item">рассчитываем налоги и&nbsp;зарплату;</li>
      <li class="outsourcing__item item">ведем кадровый и&nbsp;воинский учет.</li>
     </ul>
    </div>
    <div class="outsourcing__advantages">
     <span>Заказывая аутсорсинг бухгалтерских услуг в&nbsp;нашей компании:</span>
     <ul class="outsourcing__list">
      <li class="outsourcing__item item">
       снимаете с&nbsp;себя ответственность за&nbsp;штатную единицу;
      </li>
      <li class="outsourcing__item item">
       избавляетесь от&nbsp;ненужных трат;
      </li>
      <li class="outsourcing__item item">
       получаете весь спектр бухгалтерских услуг в&nbsp;одном месте.
      </li>
     </ul>
    </div>
    <div class="outsourcing__text">
     <p>Обращаясь в&nbsp;нашу компанию, Вы&nbsp;будете платить гораздо меньше, хотя качество оказываемых услуг окажется неизменно высоким.</p>
     <p>Штатный бухгалтер&nbsp;&mdash; это не&nbsp;машина, а&nbsp;человек со&nbsp;своими слабостями, недостатками, проблемами со&nbsp;здоровьем или пробелами в&nbsp;знаниях, ибо постигнуть все секреты нашего ремесла (если учитывать хотя&nbsp;бы одну только сложность меняющихся законодательных актов) на&nbsp;практике оказывается невозможным.</p>
     <p>Вместо одного штатного бухгалтера на&nbsp;благо вашей фирмы будет работать целый штат высококвалифицированных сотрудников компании ООО &laquo;АФиБС&raquo;. Руководство компании очень четко разделило обязанности между ними. Какой&nbsp;бы сферы ни&nbsp;коснулось дело, у&nbsp;нас всегда найдется ответ на&nbsp;любой вопрос клиента и&nbsp;достойное решение всех его проблем.</p>
     <p>Помимо выплаты зарплаты штатному бухгалтеру индивидуальный предприниматель, фирма или компания обязаны позаботиться об&nbsp;отпускных и&nbsp;больничных, о&nbsp;социальном пакете, не&nbsp;говоря уже о&nbsp;том, чтобы оборудовать рабочее место. Практика показывает, что услуги бухгалтера частного порядка требуются компании всего несколько раз в&nbsp;году, то&nbsp;есть все остальные месяцы фирма просто платит человеку ставку.</p>
    </div>
   </div>
   <div class="col-1"></div>
   <div class="outsourcing__image col-5">
    <img src="/public/img/about-image.png" alt="">
   </div>
  </div>
 </div>
</section>