<section class="section partners" id="partners">
 <div class="partners__container">
  <h2 class="partners__title section__title">
   С&nbsp;кем мы&nbsp;работаем
  </h2>
     <div class="partners__nav partners__next swiper-button-next">
      <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M1.2998 13.2998L8.49981 6.99981L1.29981 0.699804" stroke="white" stroke-linejoin="bevel"></path>
      </svg>
     </div>
     <div class="partners__nav partners__prev swiper-button-prev">
      <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M7.7002 0.700195L0.500196 7.0002L7.7002 13.3002" stroke="white" stroke-linejoin="bevel"></path>
      </svg>
     </div>
  <div class="partners__swiper swiper">
   <div class="swiper-wrapper">
    <div class="swiper-slide">
     <div class="partners__box">
      <div class="partners-image">
       <img src="/public/img/slider-01.jpeg" alt="">
      </div>
      <div class="partners__content">
       <h3 class="partners__heading">IT-компании</h3>
      </div>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="partners__box">
      <div class="partners-image">
       <img src="/public/img/slider-01.jpeg" alt="">
      </div>
      <div class="partners__content">
       <h3 class="partners__heading">Производства</h3>
      </div>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="partners__box">
      <div class="partners-image">
       <img src="/public/img/slider-01.jpeg" alt="">
      </div>
      <div class="partners__content">
       <h3 class="partners__heading">Оптовые компании</h3>
      </div>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="partners__box">
      <div class="partners-image">
       <img src="/public/img/slider-01.jpeg" alt="">
      </div>
      <div class="partners__content">
       <h3 class="partners__heading">Салоны красоты</h3>
      </div>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="partners__box">
      <div class="partners-image">
       <img src="/public/img/slider-01.jpeg" alt="">
      </div>
      <div class="partners__content">
       <h3 class="partners__heading">Клиники и мед. центры</h3>
      </div>
     </div>
    </div>
   </div>

  </div>
 </div>
</section>