<section class="reviews section" id="reviews">
 <div class="reviews__container">
  <h2 class="reviews__title section__title">Отзывы наших клиентов</h2>
  <div class="reviews__swiper swiper">
   <div class="swiper-wrapper">
    <div class="swiper-slide">
     <div class="reviews__content">
      <p class="reviews__text">
       Уже более 5&nbsp;лет данная компания бесперебойно ведет бухгалтерские дела нашей компании и&nbsp;постоянно консультирует юридически! Качественная проверенная годами компания!
      </p>
      <div class="reviews__box">
       <div class="reviews__avatar">
        <img src="/public/img/reviews.jpeg" alt="">
       </div>
       <div class="reviews__info">
        <span class="reviews__fio">Елена Фиоктистова</span>
        <ul class="reviews__rating rating__list">
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="reviews__content">
      <p class="reviews__text">
       Уже более 5&nbsp;лет данная компания бесперебойно ведет бухгалтерские дела нашей компании и&nbsp;постоянно консультирует юридически! Качественная проверенная годами компания!
      </p>
      <div class="reviews__box">
       <div class="reviews__avatar">
        <img src="/public/img/reviews.jpeg" alt="">
       </div>
       <div class="reviews__info">
        <span class="reviews__fio">Елена Фиоктистова</span>
        <ul class="reviews__rating rating__list">
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="reviews__content">
      <p class="reviews__text">
       Уже более 5&nbsp;лет данная компания бесперебойно ведет бухгалтерские дела нашей компании и&nbsp;постоянно консультирует юридически! Качественная проверенная годами компания!
      </p>
      <div class="reviews__box">
       <div class="reviews__avatar">
        <img src="/public/img/reviews.jpeg" alt="">
       </div>
       <div class="reviews__info">
        <span class="reviews__fio">Елена Фиоктистова</span>
        <ul class="reviews__rating rating__list">
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="reviews__content">
      <p class="reviews__text">
       Уже более 5&nbsp;лет данная компания бесперебойно ведет бухгалтерские дела нашей компании и&nbsp;постоянно консультирует юридически! Качественная проверенная годами компания!
      </p>
      <div class="reviews__box">
       <div class="reviews__avatar">
        <img src="/public/img/reviews.jpeg" alt="">
       </div>
       <div class="reviews__info">
        <span class="reviews__fio">Елена Фиоктистова</span>
        <ul class="reviews__rating rating__list">
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <div class="swiper-slide">
     <div class="reviews__content">
      <p class="reviews__text">
       Уже более 5&nbsp;лет данная компания бесперебойно ведет бухгалтерские дела нашей компании и&nbsp;постоянно консультирует юридически! Качественная проверенная годами компания!
      </p>
      <div class="reviews__box">
       <div class="reviews__avatar">
        <img src="/public/img/reviews.jpeg" alt="">
       </div>
       <div class="reviews__info">
        <span class="reviews__fio">Елена Фиоктистова</span>
        <ul class="reviews__rating rating__list">
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item fill-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
         <li class="rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
           <path
            d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z"
            fill="#D9D9D9"></path>
          </svg>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="swiper-pagination"></div>
  </div>
 </div>
</section>