<section class="section tarifs" id="tarifs">
 <div class="tarifs__container">
  <h2 class="section__title tarifs__title">Тарифы на услуги</h2>
  <ul class="tarifs__list">
   <li class="tarifs__item">
    <h3 class="tarifs__heading">Стандарт</h3>
    <div class="tarifs__image">
     <img src="/public/img/tarifs-01.jpeg" alt="">
     </div>
     <div class="tarifs__content">
      <span class="tarifs__caption">от 2100₽/месяц</span>
      <div class="tarifs__box">
       <p>В стандартный тариф входят:</p>
       <ul class="tarifs__sublist">
        <li class="tarifs__subitem">
         обработка документов по&nbsp;расчету заработной платы
        </li>
        <li class="tarifs__subitem">
         ведение кадров.
        </li>
       </ul>
       <p>Стоимость рассчитывается для каждой организации отдельно, с&nbsp;учетом индивидуальных потребностей.</p>
      </div>
      <a data-goto=".contacts"  href="/" class="tarifs__btn btn btn-reset">Заказать</a>
     </div>
   </li>
   <li class="tarifs__item">
    <h3 class="tarifs__heading">Стандарт</h3>
    <div class="tarifs__image">
     <img src="/public/img/tarifs-01.jpeg" alt="">
     </div>
     <div class="tarifs__content">
      <span class="tarifs__caption">от 2100₽/месяц</span>
      <div class="tarifs__box">
       <p>В стандартный тариф входят:</p>
       <ul class="tarifs__sublist">
        <li class="tarifs__subitem">
         обработка документов по&nbsp;расчету заработной платы
        </li>
        <li class="tarifs__subitem">
         ведение кадров.
        </li>
       </ul>
       <p>Стоимость рассчитывается для каждой организации отдельно, с&nbsp;учетом индивидуальных потребностей.</p>
      </div>
      <a data-goto=".contacts"  href="/" class="tarifs__btn btn btn-reset">Заказать</a>
     </div>
   </li>
   <li class="tarifs__item">
    <h3 class="tarifs__heading">Стандарт</h3>
    <div class="tarifs__image">
     <img src="/public/img/tarifs-01.jpeg" alt="">
     </div>
     <div class="tarifs__content">
      <span class="tarifs__caption">от 2100₽/месяц</span>
      <div class="tarifs__box">
       <p>В стандартный тариф входят:</p>
       <ul class="tarifs__sublist">
        <li class="tarifs__subitem">
         обработка документов по&nbsp;расчету заработной платы
        </li>
        <li class="tarifs__subitem">
         ведение кадров.
        </li>
       </ul>
       <p>Стоимость рассчитывается для каждой организации отдельно, с&nbsp;учетом индивидуальных потребностей.</p>
      </div>
      <a data-goto=".contacts"  href="/" class="tarifs__btn btn btn-reset">Заказать</a>
     </div>
   </li>
  </ul>
 </div>
</section>