<section class="section work" id="work">
 <div class="work__container">
  <h2 class="section__title work__title">Как мы работаем</h2>
  <p class="section__subtitle">Здесь вы&nbsp;узнаете подробнее об&nbsp;этапах нашей работы, а&nbsp;так&nbsp;же сможете представить в&nbsp;каком ключе все будет проходить!</p>
  <div class="work__box col-12 row">
   <div class="work__content col-6">
    <ul class="work__list">
     <li class="work__item">
      <h3 class="work__caption">
       Закрепление команды бухгалтеров
      </h3>
      <p class="work__descr">
       После заключения договора и&nbsp;обсуждения оплаты за&nbsp;вами закрепляется индивидуальная команда бухгалтеров, заточенная именнопод вашу конкретную отрасль работы!
      </p>
     </li>
     <li class="work__item">
      <h3 class="work__caption">
       Всесторонняя помощь
      </h3>
      <p class="work__descr">
       Теперь бухгалтерия, налоги и&nbsp;кадры будет под контролем наших бухгалтеров, закрепленных за&nbsp;вами и&nbsp;вашим предприятием! А&nbsp;так&nbsp;же юридическая поддержка!
      </p>
     </li>
     <li class="work__item">
      <h3 class="work__caption">
       Вы&nbsp;контролируете основные процессы
      </h3>
      <p class="work__descr">
       Ставите задачи вашей команде бухгалтеров и&nbsp;присылаете фото документов любым удобным для вас способом! Так&nbsp;же для бесперебойной и&nbsp;удобной работы есть удобное приложение!
      </p>
     </li>
    </ul>
    <a data-goto=".contacts" class="work__btn btn btn-reset">Заказать звонок</a>
   </div>
   <div class="col-2"></div>
   <div class="work__image col-4">
    <img src="/public/img/work-image.png" alt="">
   </div>
  </div>
 </div>
</section>